ul {
  list-style-type: none;
}

.ProductDetails section {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}

.ProductDetails section:nth-child(1),
.ProductDetails section:nth-child(4) {
  background-color: #0fb8a1;
  border: 1px solid black;
}

.instruction-div {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.description {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.comment {
  border: 1px dashed black;
  margin: 10px auto;
  padding: 20px;
}

.comment blockquote {
  text-align: left;
}

.materials {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.steel-list {
  list-style-type: disc;
  display: block;
}

.steel-list > li {
  margin-left: 15px;
}

.instruction-block {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  list-style-type: disc;
  list-style-position: inside;
  display: block;
}

.dummyImg {
  background-color: white;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid black;
}

.dummyImg img {
  max-width: 100%;
}

.btn {
  background-color: #ff6d2e;
  border-bottom: 5px solid #b7410e;
}

.btn:hover {
  background-color: #b7410e;
}

.del-btn {
  color: white;
  font-size: 16px;
  background-color: rgb(250, 95, 95);
  border-bottom: 5px solid red;
  padding: 10px 25px;
  border-radius: 5px;
}

.del-btn:hover {
  background-color: red;
}

.btn-panel {
  background-color: white;
}

.btn-panel a,
.btn-panel button {
  margin: 5px;
}
