ul {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.description {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.comment {
  border: 1px dashed black;
  margin: 10px;
}

.materials {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.steel-list {
  list-style-type: disc;
}

.steel-list > li {
  margin-left: 15px;
}
