ul {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.description {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.comment {
  border: 1px dashed black;
  margin: 10px auto;
  padding: 20px;
}

.materials {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.steel-list {
  list-style-type: disc;
  display: block;
}

.steel-list > li {
  margin-left: 15px;
}

.instruction-block {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  list-style-type: disc;
  display: block;
}

.dummyImg {
  height: 200px;
  width: 200px;
  background-color: yellow;
  margin: 10px auto;
}

.btn {
  background-color: #c9683f;
  border-bottom: 5px solid #b7410e;
}

.btn:hover {
  background-color: #b7410e;
}

.del-btn {
  color: white;
  font-size: 16px;
  background-color: rgb(255, 56, 56);
  border-bottom: 5px solid red;
  padding: 10px 25px;
  border-radius: 5px;
}

.del-btn:hover {
  background-color: red;
}
