.Home__subheader {
  color: white;
}

.filter-label {
  color: white;
}

/* not sure why this is necessary, but it is */
ul {
  margin-left: -38px;
}

.Home__li {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

.Home__li:nth-child(even) {
  background-color: #ddd;
}
