section {
  min-height: 100px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

section a {
  color: white;
  background-color: #0fb8a1;
  padding: 10px 25px;
  display: inline-block;
  margin: 0px 0 20px;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 5px solid #006b5d;
}

section a:hover {
  background-color: #006b5d;
}

.first {
  vertical-align: middle;
  height: 90vh;
}

.fake-img {
  height: 100vh;

  background-image: url("/pics/welder.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

.splash {
  padding-top: 20vh;
  color: white;
}

.landing {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}

.intro {
  color: white;
  padding: 20px;
}

.icon-left {
  margin-right: 30px;
}

.icon-right {
  margin-left: 30px;
}

.icon-left,
.icon-right {
  color: #ff6d2e;
}

.begin {
  color: white;
  background-color: #0fb8a1;
  font-size: 16px;
  padding: 10px 25px;
  display: inline-block;
  margin: 0px 0 20px;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 5px solid #006b5d;
}

.begin:hover {
  background-color: #006b5d;
}

footer {
  padding: 40px;
  color: white;
  font-size: 0.7em;
}
