.filter-label {
  color: white;
}

ul {
  margin-left: -38px;
  display: flex;
  flex-wrap: wrap;
}

.Products__li {
  padding: 20px;
  background-color: #bbb;
  border: 1px solid #333;
  margin: 20px;
  flex: 1;
  min-width: 250px;
  border-radius: 5px;
}
