.filter-label {
  color: white;
}

/* not sure why this is necessary, but it is */
ul {
  margin-left: -38px;
  display: flex;
  flex-wrap: wrap;
}

.Products__li {
  /* padding: 6% 0; */
  padding: 20px;
  background-color: #bbb;
  border: 1px solid #333;
  margin: 20px;
  /* display: inline-block; */
  flex: 1;
  min-width: 250px;
}
