.filter-label {
  color: white;
}

ul {
  margin-left: -38px;
  display: flex;
  flex-wrap: wrap;
}

.Products__li {
  padding: 20px;
  background-color: #0fb8a1;
  border: 1px solid #333;
  margin: 20px;
  flex: 1;
  min-width: 250px;
  border-radius: 5px;
}

.Products__link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.25em;
}

.Products__link:hover {
  color: #b7410e;
}
